# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:"Should the mod be used?"=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
    S:tableParticles=portal
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:enchant.cofh.holding=true
    S:enchant.cofh.holding-ToolTip=
    B:enchant.cofh.multishot=true
    S:enchant.cofh.multishot-ToolTip=
    B:enchantment.ArmorPiercing=true
    S:enchantment.ArmorPiercing-ToolTip=
    B:enchantment.AshBringer=true
    S:enchantment.AshBringer-ToolTip=
    B:enchantment.AtomicDeconstructor=true
    S:enchantment.AtomicDeconstructor-ToolTip=
    B:enchantment.Butchering=true
    S:enchantment.Butchering-ToolTip=
    B:enchantment.Clearsky=true
    S:enchantment.Clearsky-ToolTip=
    B:enchantment.CripplingStrikes=true
    S:enchantment.CripplingStrikes-ToolTip=
    B:enchantment.Culling=true
    S:enchantment.Culling-ToolTip=
    B:enchantment.DamageRandomizer=true
    S:enchantment.DamageRandomizer-ToolTip=
    B:enchantment.Desolator=true
    S:enchantment.Desolator-ToolTip=
    B:enchantment.Enchanted=true
    S:enchantment.Enchanted-ToolTip=
    B:enchantment.EnhancedFireAspect=true
    S:enchantment.EnhancedFireAspect-ToolTip=
    B:enchantment.ExtremeBaneOfArthropods=true
    S:enchantment.ExtremeBaneOfArthropods-ToolTip=
    B:enchantment.ExtremeSharpness=true
    S:enchantment.ExtremeSharpness-ToolTip=
    B:enchantment.ExtremeSmite=true
    S:enchantment.ExtremeSmite-ToolTip=
    B:enchantment.History=true
    S:enchantment.History-ToolTip=
    B:enchantment.Mathematics=true
    S:enchantment.Mathematics-ToolTip=
    B:enchantment.PhysicalEducation=true
    S:enchantment.PhysicalEducation-ToolTip=
    B:enchantment.PurgingBlade=true
    S:enchantment.PurgingBlade-ToolTip=
    B:enchantment.Raining=true
    S:enchantment.Raining-ToolTip=
    B:enchantment.RapidStriking=true
    S:enchantment.RapidStriking-ToolTip=
    B:enchantment.RinsPureEnergy=true
    S:enchantment.RinsPureEnergy-ToolTip=
    B:enchantment.Science=true
    S:enchantment.Science-ToolTip=
    B:enchantment.Shadow=true
    S:enchantment.Shadow-ToolTip=
    B:enchantment.Sunshine=true
    S:enchantment.Sunshine-ToolTip=
    B:enchantment.Thunderstorm=true
    S:enchantment.Thunderstorm-ToolTip=
    B:enchantment.Viper=true
    S:enchantment.Viper-ToolTip=
    B:enchantment.WaterAspect=true
    S:enchantment.WaterAspect-ToolTip=
    B:enchantment.armorCrushing=true
    S:enchantment.armorCrushing-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.autosmelt=true
    S:enchantment.autosmelt-ToolTip=
    B:enchantment.blessed=true
    S:enchantment.blessed-ToolTip=
    B:enchantment.criticalStrike=true
    S:enchantment.criticalStrike-ToolTip=
    B:enchantment.crushing=true
    S:enchantment.crushing-ToolTip=
    B:enchantment.cursedBlade=true
    S:enchantment.cursedBlade-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.defusion=true
    S:enchantment.defusion-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.disarm=true
    S:enchantment.disarm-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.english=true
    S:enchantment.english-ToolTip=
    B:enchantment.envenomed=true
    S:enchantment.envenomed-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.lifesteal=true
    S:enchantment.lifesteal-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.moonLight=true
    S:enchantment.moonLight-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.purification=true
    S:enchantment.purification-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.reviledblade=true
    S:enchantment.reviledblade-ToolTip=
    B:enchantment.spellbreaker=true
    S:enchantment.spellbreaker-ToolTip=
    B:enchantment.swipestrike=true
    S:enchantment.swipestrike-ToolTip=
    B:enchantment.thorned=true
    S:enchantment.thorned-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=This enchantment has a 15% chance per level to damage mobs that hurt the wearer by half a heart to two hearts. This enchantment can be applied to all armour types. 
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
    B:enchantment.xpboost=true
    S:enchantment.xpboost-ToolTip=
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:"Are bookshelves required to do an enchantment?"=true
    I:"At when level do players need to have bookshelves?"=5
    B:"Can players disenchant items they have not enchanted?"=false
    B:"Can the table disenchant items?"=true
    B:"Can the table enchant damaged items?"=true
    B:"Can the table repair items?"=true
    B:"Disregard item type?"=false
    D:"How blast resistant is the table?"=2000.0
    D:"How long to break the table?"=5.0
    B:"Should the table have light?"=true
    I:"What is the cost factor?"=5
    I:"What is the repair factor"=5
}


