# Configuration file

entitiesalwaysinfernal {
    B:EntityAbyssalZombie=false
    B:EntityBanshee=false
    B:EntityBlueSlime=false
    B:EntityBombingCreeper=false
    B:EntityFishingZombie=false
    B:EntityGiantSpider=false
    B:EntityGorgon=false
    B:EntityGravelCreeper=false
    B:EntityNinjaSkeleton=false
    B:EntitySpidorus=false
    B:EntityTopielec=false
    B:EntityWendigo=false
    B:Entity_SpecialSkeleton=false
    B:Entity_SpecialSpider=false
    B:Entity_SpecialWitch=false
    B:Entity_SpecialZombie=false
}


entitybasehealth {
    D:EntityAngelicCreeper=20.0006103515625
    D:EntityBlueSlime=4.0017852783203125
    D:EntityGatlingSkeleton=20.0
    D:EntityGorgon=100.0
    D:EntityMusicalCreeper=10.000848770141602
    D:Entity_SpecialCreeper=20.001678466796875
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityAbyssalZombie=true
    B:EntityBanshee=true
    B:EntityBlueSlime=true
    B:EntityBombingCreeper=true
    B:EntityFishingZombie=true
    B:EntityGiantSpider=true
    B:EntityGorgon=true
    B:EntityGravelCreeper=true
    B:EntityNinjaSkeleton=true
    B:EntitySpidorus=true
    B:EntityTopielec=true
    B:EntityWendigo=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialWitch=true
    B:Entity_SpecialZombie=true
}


